<div class="container">
    <div class="clearfix">

        <div class="left float-left">
            <form class="form-inline mb-4">
                <div class="form-group">
                  <label class="mr-2 p-1" for="inlineFormCustomSelect"> Title </label>
                  <input type="text" class="form-control" placeholder="Search text" name="filter-tekst" [(ngModel)]="tekst" >
                  <button type="submit" class="btn btn-primary ml-2" (click)="sendTekst()">Filter</button>
                </div>
              </form>
        </div>

        <div class="right float-right">
            <button class="btn btn-secondary p-1 mr-2 ml-1" [disabled]="page <= 0" (click)="prevPage()">prev</button>
            <button class=" btn btn-secondary p-1 mr-2 ml-1" (click)="nextPage()">next</button>
        </div>
    </div>
</div>
   

<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"> Title </th>
            <th scope="col"> Category </th>
            <th scope="col"> Desciption </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let news of news">
            <td>{{news.name}}</td>
            <td>{{news.category.name}}</td>
            <td>{{news.description}} <button class="btn btn-primary ml-2 btn-sm" [routerLink]="['/news', news.id]"> Details</button></td>
          </tr>
        </tbody>
      </table>
</div>
