<form *ngIf="news" class="form" (ngSubmit)="add()">

    <div class="form-group">
      <label> Title </label>
      <input type="text" name="name" class="form-control" [(ngModel)]="news.name"/>
    </div>

    <div class="form-group">
      <label> Category </label>
      <input type="text" name="category" class="form-control" [(ngModel)]="news.category"/>
    </div>

    <!--Ovde moze biti problema -->
    <div class="form-group">
        <label> Description </label>
        <input type="name" name="description" class="form-control" [(ngModel)]="news.description.name"/>
    </div>

    <div class="form-group">
        <label> Content </label>
        <input type="text" name="content" class="form-control" [(ngModel)]="news.content"/>
    </div>

    <div class="pull-right">
      <input type="button" (click)="reset()" class="btn btn-warning" value="reset"/>
      <input type="submit" class="btn btn-primary" value="save"/> 
    </div>
  </form>
