<div class="container">
    <h1>{{news.name}}</h1>
    <p>{{news.content}}</p>

    <div style="margin-top: 300px;">
        <form class="form-group mb-5 pb-5" (ngSubmit)="postComment()">
            <h1>Leave a Reply</h1>
            <textarea class="form-control" rows="5" name="input-comment" id="input-comment"
                [(ngModel)]="newComment.text" placeholder="Type here to comment..."></textarea>
            <input class="form-control" name="input-username" id="input-username" [(ngModel)]="newComment.username"
                placeholder="Enter a username..." />
            <input class="btn btn-success float-right mb-5 mt-2" type="submit" value="Post comment" />
        </form>

        <div *ngFor="let comment of comments">
            <div class="card">
                <div class="card-header font-weight-bold"> {{comment.username}}</div>
                <div class="card-body">{{comment.text}}</div>

                <div *ngFor="let com of comment.comments" class="card ml-5 mb-3">
                    <div class="card-header font-weight-bold">{{com.username}}</div>
                    <div class="card-body">{{com.text}}</div>
                    <div class="card-footer float-right">
                        <button>Like</button>
                        <button>Dislike</button>
                    </div>
                </div>

                <div class="card-footer conatiner">
                    <form class="form-group" (ngSubmit)="postCommentForComment(comment.id)">
                        <textarea class="form-control" name="input-comment-comment" id="input-comment-comment" [(ngModel)]="com.text"
                            placeholder="Reply to the comment.."></textarea>
                        <input class="form-control col-6" name="input-username-comment" id="input-username-comment" [(ngModel)]="com.username"
                            placeholder="Enter a username...">
                        <input class="btn btn-outline-dark float-right" type="submit" value="Reply">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>